<h1>Show that view!</h1>

<%= render 'form' %>

<%= link_to 'OR: show me some examples..', views_path %>
<%= link_to "Go!", '#', onclick: "updateView(); return false", class: "nav_link" %>

<!-- Div for Google Earth -->
<div id="map3d" style="height: 400px; width: 600px;"></div>
