<!DOCTYPE html>
<html>
<head>
  <title>ShowThatView</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Loads Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0QCyDwNBnBMrGLOo0dbXfy5Gv-WlmN40" type="text/javascript"></script>

  <!-- Loads Google Earth -->
  <script type="text/javascript" src="https://www.google.com/jsapi"> </script>
  <script type="text/javascript">
      var ge;
      google.load("earth", "1", {"other_params":"sensor=false"});

      function init() {
          google.earth.createInstance('map3d', initCB, failureCB);
          geocoder = new google.maps.Geocoder();
      }

      function initCB(instance) {
          ge = instance;
          ge.getWindow().setVisibility(true);
          ge.getNavigationControl().setVisibility(ge.VISIBILITY_AUTO);
          ge.getLayerRoot().enableLayerById(ge.LAYER_BUILDINGS, true);
          ge.getLayerRoot().enableLayerById(ge.LAYER_TREES, true);
          ge.getLayerRoot().enableLayerById(ge.LAYER_TERRAIN, true);
          // ge.getLayerRoot().enableLayerById(ge.LAYER_ROADS, true);
      }

      function failureCB(errorCode) {
          alert("Failed to initialize Google Earth! :(");
      }

      google.setOnLoadCallback(init);
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
